<form>
  <div style="height:800">
    <% for f in @friend_ids -%>
      <div style="float:left;text-align:center;vertical-align:bottom;padding-left:2px;padding-right:2px;height:170px;">
        <xn:profile-pic uid="<%= f %>" size="normal"/><br/>
        <xn:name uid="<%= f %>"/><br/>
        <input type="checkbox">
      </div>
    <% end -%>
  </div>
</form>
