development:
  api_key: [API Key]
  secret_key: [Secret]
  canvas_page_name: [Canvas]
  callback_url: [Callback URL]
  tunnel:
    public_host_username: 
    public_host: 
    public_port: 4007
    local_port: 3000
